<%= form_for product do |f| %>
    <div class="well">
      <div class="row">
        <div class="col-xs-3">
          <%= label_tag 'Title' %>
          <%= f.text_field :name, value: product.name, placeholder: 'name' %>
        </div>
        <div class="col-xs-3">
          <%= label_tag 'Price' %>
          <%= f.number_field :price, value: product.price, placeholder: 'price', :class=> 'text-field', :step => 0.01 %>
        </div>
        <div class="col-xs-3">
          <%= label_tag 'Product type' %>
          <%= f.select :product_type_id, @product_types, { value: product.product_type_id } %>
        </div>
        <div class="col-xs-1">
          <%= label_tag 'Active' %>
          <%= f.check_box :active, value: product.active %>
        </div>
        <div class="col-xs-2 text-right">
          <div class="btn-group">
            <%= f.submit "Save", class: "btn btn-primary" %>
            <%= link_to 'Delete', product_path(id: product.id), { data: { confirm: "Are you sure you wish to delete the '#{product.name}' product?" }, method: :delete, class: "btn btn-danger" } %>
          </div>
        </div>
      </div>
    </div>
<% end %>